<?xml version="1.0"?>
<!--
/**
 * @category  BKozlic
 * @package   BKozlic\ProductTabs
 * @author    Berin Kozlic - berin.kozlic@gmail.com
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <product_tab_general>
            <general>
                <enabled>1</enabled>
            </general>

            <default_tabs>
                <details>0</details>
                <more>0</more>
                <review>0</review>
            </default_tabs>

            <default_tabs_sort>
                <details_sort>10</details_sort>
                <more_sort>20</more_sort>
                <review_sort>30</review_sort>
            </default_tabs_sort>
        </product_tab_general>
    </default>
</config>
